*{
    box-sizing: border-box;

}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #61b1c5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
img{
    max-width: 100%;
}
.card{
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        overflow: hidden;
        width: 300px;
}
.card-header{
    height: 200px;
}
.card-header img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.card-content{
    background-color: #fff;
    padding: 30px;
}
.card-title{
    height: 20px;
    margin: 0;
}
.card-excerpt{
    color: #777;
    margin: 10px 0 20px;
}
.author{
    display: flex;
}
.profile-img{
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}
.author-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    width: 100px; 
}
.author-info small{
    color: #aaa;
    margin-top: 5px;
}
.animated-bg{
    background-image: linear-gradient(to right,
    #61b1c5 0%,
    #17e3f267 10%,
    #18d6e7b2 20%,
    #1ce2ed65 100%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;


}
.animated-bg-text{
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
}
@keyframes bgPos{
    0%{
        background-position: 50% 0;
    }
    100%{
        background-position: -150% 0;
    }
}